{% extends "master.html" %}

{% block title %}View Customers{% endblock %}

{% block body %}
<center>
 <form method="POST" action="/">
      <h1>View Customer Information</h1>
      <table border="1">
      <thead>
        <tr>
          <th>Name</th>
          <th>Id Number</th>
        </tr>
      </thead>
      {% for row in rows["Items"] %}
        <tr>
          <td>{{row["UserId"]['S']}}</td>
          <td>{{row["customerId"]['S']}}</td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
    </form>
<hr>
<h3><a href='/'>Home</a></h3>
<h3><a href='/add'>Add Customer Data</a></h3>
<h3><a href='/decryptId'>Decrypt Customer Data</a></h3>
</center>
{% endblock %}
